{% extends 'base.html.twig' %}


{% block title %}{{ parent() }} | Bienvenue {% endblock %}
{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Bienvenue sur</span> VIR - Gestion des retours</h1>
            </div>
        </div>
    </div>
{% endblock %}

